doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
        style(type="text/css"). 
            .http {
                background-color: lightblue;
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 5px;
            }
            pre {
                background-color: #444490;
                padding: 20px;
                border-radius: 5px;
            }
    body 
        h1 Bem-vindo
        h2 Uso 
        p
            | Documentação em 
            a(href="https://github.com/alfredojry/car-finder" target="_blank" rel="noopener noreferrer") GitHub