doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title API
    body 
        h1 Bem-vindo
        h2 Uso 
        table 
            thead 
                tr 
                    th Método HTTP
                    th Caminho
                    th Body 
                    th Query
            tbody 
                tr 
                    td GET
                    td 
                        code /cars
                tr 
                    td GET
                    td 
                        code /cars/:id
                tr 
                    td GET
                    td 
                        code /cars
                    td
                    td 
                        code q
                tr 
                    td POST
                    td 
                        code /cars
                tr 
                    td PUT
                    td 
                        code /cars/:id
                tr 
                    td DELETE
                    td 
                        code /cars/:id